.main{
    width: 100%;
    height: 100hv;
    display: grid;
    grid-template-columns: 550px 550px;
    background-color:#fff;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  
  .box{
    border-radius: 15px 15px 15px 15px;
    padding:20px;
    background-color: #374151;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .group{
    border-radius: 15px 15px 0 0;
    margin: auto;
    width: 319px;
  }

  .retrato{
    border-radius: 15px 15px 0 0;
  } 

  img{
    border-radius: 15px 15px 0 0;
  }

